.MiniList {
  display: flex;
  flex-direction: column;
  border: solid violet 1px;
}

.MiniList h2 {
  margin: 10px;
}

.MiniList__icons {
  display: flex;
  flex-direction: row;
  font-size: 1.4em;
  height: 60px;
  gap: 10px;
}

.MiniList__icons > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #96543a;
  padding: 0 15px;
  border-radius: 10px;
  color: white;
}

.MiniList__icons > div > p:nth-child(1) {
  width: 30px;
  height: 30px;
}
